nav{
  height: 120px;
  background-color:  #638530;;
  color:#FFFFFF ;
  display :flex;
  flex-direction: row;
  justify-content:space-between;
  position: fixed; 
  top: 0;
  width: 100%; 
}

nav span{
  font-family : 'Bungee'; 
  padding-left: 1.5em ;
  padding-top: 2em ;
}

.write {
  display :flex;
  flex-direction: column;
  padding-right: 1.5em ;
  justify-content:center;  
  align-items: center; 
}

.write i {
  padding-right: 1.5em ;
  color:red;
} 
.write p {
  margin-bottom: .35em;   
}

